
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2237;
    flex: auto;
    padding: 0 0 50px 0;
}

.top-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
}

.header-logo{
    color:#F9FAF8;
    font-size: 24px;
}

.header-link-items{
    text-decoration: none;
    color:#F9FAF8;
    font-size: 18px;
    margin: 0 4px 0 4px;
}

.header-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0 0 0;
}

.header-contents-left{
    width: 400px;
}
.header-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-secondary-text{
    color: #F9FAF8;
    flex-wrap: wrap;
}

.header-img{
    width: 35%;
    height: 35%;
}

.sign-up-button{
    padding: 5px 20px 5px 20px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 4px;  
}

/* End Header / Begin images */

.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-images{
    display: flex;
}
.body-image-items{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#1F2937;
}

.body-pictures{
    border: solid;
    border-color: #3882F6;
    border-radius: 6px;
}
#information-header{
    font-size: 36px;
    font-weight: bolder;
}

/* End Images / Begin Quote */

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}

#quote{
    width: 47%;
    color: #1F2937;
    font-style: italic;
}

.quote-signature{
    margin-left: 300px;
}
/* End Quote / Begin Call to Action */

.call{
    display: flex;
    background-color: #3882F6;
    width: 75%;
    height: 250px;
    align-self: center;
    flex-direction: row;
    flex:1;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.call-title{
    font-size: 18px;
    color: #E5E7EB;
}

.call-subtext{
    font-size: 12px;
    color: #E5E7EB;
    margin: -10px 0 0 0;

}

.call-button{
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-radius: 4px;
    height: fit-content;
    color: #E5E7EB;
    border-style: solid;
    padding: 4px 8px 4px 8px; 
}

/* End Call to Action / Begin footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2237;
    color: #E5E7EB;
    padding: 30px 0 30px 0;